<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
        var formdata = new FormData($('#my_form').get(0));

        function file_upload()
            {
                // フォームデータを取得
                $.post( 'http://localhost/file', $('#my_form').serialize() )

                .done(function( data ) {
                    console.log( data.form)
                })
            }
    </script>
</head>
<body>
    <form action="/file" method="post" name="my_form">
        <input type="file" id="file" name="file">
        <button type="submit">submit</button>
    </form>
</body>
</html>